/* AdminAuth.css */
.main-container {
  background: linear-gradient(-45deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
  background-size: 400% 400%;
  animation: gradientBG 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92.5vh;
}

.auth-box {
  width: 400px;
  padding: 24px;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}




.submit-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 14px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}