
.background {
  height: 92.5vh;
  width: 100%;
  position: absolute;
  top: 7.5vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mySwiper {
  height: 300px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.userSlide {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.26);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  display: none;
}


.userSlide .userCard {
  height: 100%;
  width: 100%;
}

.userSlide .userCard img {
  height: 70%;
  width: 100%;
  border-radius: 5px;
}

.userSlide .userCard p {
  text-align: center;
  margin-bottom: 10px;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.btn-container button {
  height: 30px;
  width: 45%;
  border: none;
}